.body {
  background-image: url(../img/bgd.jpg);
  background-size: cover;
  font-family: sans-serif;
  position: relative;
}
.header {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.milan {
  margin-top: 3px;
  margin-left: 61px;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
}
.holidays {
  margin-left: 61px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.text-logo {
  text-decoration: none;
  color: #ffffff;
}
.text-logo:hover {
  color: #f26522;
}
.img-logo {
  margin-top: 51px;
  width: 53px;
  height: 47px;
  background-image: url(../img/milan-logo.svg);
}
.img-logo:hover {
  background-image: url(../img/milan-hover.svg);
}
.img-logo:after {
  background-image: url(../img/milan-logo.svg);
}
.contact {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 18px;
  align-items: flex-end;
  justify-content: space-between;
}
.phone {
  margin-top: 19px;
}
.mailto {
  text-decoration: none;
  color: #ffffff;
}
.mailto:hover {
  color: #f26522;
}
.content {
  width: 80%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;
  margin-top: 17px;
}
.tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-link {
  text-decoration: none;
}
.shopping {
  justify-self: flex-start;
  position: relative;
}
.img-details {
  background-color: #f26522;
  position: absolute;
  top: 165px;
  width: 100%;
  width: 300px;
  height: 55px;
  color: #fff;
  display: none;
}
.description {
  margin-top: 20px;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}
.filling {
  flex-direction: column;
  display: flex;
  height: 45px;
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
}
.filling:after {
  content: ">";
  padding-top: 28px;
  padding-right: 16px;
  padding-left: 16px;
  width: fit-content;
}
.from {
  font-size: 10px;
  line-height: 10px;
  margin: 0;
  padding-top: 7px;
  padding-left: 16px;
}
.money {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding-top: 7px;
  padding-left: 16px;
}
.details {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  width: fit-content;
  padding-left: 128px;
  padding-top: 30px;
}

.shopping:hover .img-details {
  display: block;
}
.shopping:hover .description {
  color: #f26522;
}
.sightseeing {
  position: relative;
}
.sightseeing:hover .img-details {
  display: block;
}
.sightseeing:hover .description {
  color: #f26522;
}
.food {
  position: relative;
}
.food:hover .img-details {
  display: block;
}
.food:hover .description {
  color: #f26522;
}
.nightlife {
  position: relative;
}
.nightlife:hover .img-details {
  display: block;
}
.nightlife:hover .description {
  color: #f26522;
}
.art {
  position: relative;
}
.art:hover .img-details {
  display: block;
}
.art:hover .description {
  color: #f26522;
}
.walking {
  position: relative;
}
.walking:hover .img-details {
  display: block;
}
.walking:hover .description {
  color: #f26522;
}
.copyright {
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
