.page-body {
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.header-menu {
  display: flex;
  background-color: #313131;
  height: 70px;
}
.logo-img {
  padding: 22px 27px 21px;
}
.logo-text {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  padding-top: 22px;
}
.header-menu-list {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 28px;
}
.list-item {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding-left: 35px;
  text-decoration: none;
  display: flex;
}
.list-item:hover {
  color: #14b9d5;
}
.search {
  background-color: #000;
  padding: 27px 25px 26px 26px;
  margin-left: 221px;
}
.search-img {
  background-color: #000;
  padding: 27px 25px 26px 26px;
  margin-left: 6vw;
}
.header-bgd {
  background-image: url(../img/header-bg.jpeg);
  height: 369px;
  background-size: cover;
}
.news-text {
  padding-top: 164px;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.header-buttons {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}
.subscribe-button {
  text-decoration: none;
  background-color: #89ca62;
  padding: 16px 19px 17px;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}
.articles-button {
  text-decoration: none;
  background-color: #14b9d5;
  padding: 16px 29px 17px 30px;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
}
.popular {
  height: 1030px;
  background-color: #f2f2f2;
}
.main-content-title {
  padding-top: 49px;
  padding-bottom: 52px;
  color: #18b4cf;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}
.flex-container {
  height: 1030px;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.box {
  text-align: center;
  width: 370px;
  margin: 15px;
  background: #fff;
}
.main-content-text {
  color: #353a3d;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.parallax-text {
  padding-top: 106px;
  background-image: url(../img/parallax-bg.jpeg);
  background-size: cover;
  height: 482px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.parallax-line {
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  border: none;
  margin-top: 87px;
}
.brands-grid {
  margin-top: 106px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.top-rated-text {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin: 49px 0 52px;
}
.top-rated-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 7), 1fr));
}
.news-grid {
  display: grid;
  grid-template-areas:
    "item3 item3 item3 item4"
    "item5 item5 item6 item6"
    "item7 item7 item8 item8"
    "item9 item10 item10 item10";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
}
.news {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
}
.news-description {
  text-align: right;
  align-self: center;
  padding-right: 24px;
  padding-left: 13px;
}
.news-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  padding-bottom: 14.5px;
}
.news-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #5b6469;
}
.prophecy {
  background-color: #f9f7f7;
  grid-area: item3;
}
.prophecy-grid {
  display: grid;
  grid-template-areas: "item1 item2";
}
.nebula {
  background-color: #f9f7f7;
  grid-area: item4;
}
.western {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item5;
}
.grand {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item6;
}
.wanderlust {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item7;
}
.twin {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item8;
}
.prism {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item9;
}
.kings {
  background-color: #f9f7f7;
  grid-area: item10;
}
.copyright {
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #000;
}
.copyright-text {
  margin-left: 20px;
  padding-top: 29px;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
}
.liot {
  padding-top: 29px;
  margin-right: 20px;
}
