@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.eot");
  src: local("â˜º"), url("../fonts/Ubuntu-Bold.woff") format("woff"),
    url("../fonts/Ubuntu-Bold.ttf") format("truetype"),
    url("../fonts/Ubuntu-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Ubuntu";
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
.titles {
  font-weight: 700;
  color: rgb(209, 178, 2);
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}
.header-title {
  text-align: center;
}
.content {
  position: absolute;
  top: 100%;
  animation: scroll 100s linear 4s infinite;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
