@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.eot");
  src: local("☺"), url("../fonts/Ubuntu-Regular.woff") format("woff"),
    url("../fonts/Ubuntu-Regular.ttf") format("truetype"),
    url("../fonts/Ubuntu-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.eot");
  src: local("â˜º"), url("../fonts/Ubuntu-Bold.woff") format("woff"),
    url("../fonts/Ubuntu-Bold.ttf") format("truetype"),
    url("../fonts/Ubuntu-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
.body {
  background-image: url(../img/bgd.jpg);
  background-size: cover;
  font-family: "Ubuntu";
}

.header {
  width: 100%;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  margin-top: 18px;
  margin-left: 79px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.logo:hover {
  transition: ease-in-out 0.2s;
  color: #236d47;
}
.nav {
  display: flex;
  margin-top: 18px;
}
.calendar {
  margin-right: 27px;
}
.calendar:hover .change {
  fill: #236d47;
}
.mail {
  margin-right: 24px;
}
.mail:hover .change {
  fill: #236d47;
}
.compass {
  margin-right: 25px;
}
.compass:hover .change {
  fill: #236d47;
}
.nav-text {
  margin-top: 4px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 79px;
}
.nav-text::before {
  display: block;
  content: "";
  height: 18px;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  padding-right: 18px;
  margin: 0;
}
.link-log {
  text-decoration: none;
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.link-log:hover {
  transition: ease-in-out 0.2s;
  color: #236d47;
}
.link-sign {
  text-decoration: none;
  color: #ffffff;
  padding-left: 0.5em;
}
.link-sign:hover {
  transition: ease-in-out 0.2s;
  color: #236d47;
}
.content {
  margin: 0 auto;
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.top-content {
  display: flex;
  padding-top: 29px;
}
.green-box {
  width: 18px;
  height: 18px;
  background: #3cb878;
}
.signup {
  margin-left: 43px;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-decoration: none;
}
.login {
  margin-top: 4px;
  margin-left: 216px;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}
.login:hover {
  transition: ease-in-out 0.2s;
  color: #01813f;
  text-decoration: underline;
}
.buttons {
  display: flex;
  justify-content: center;
}
.facebook {
  margin-top: 15px;
  width: 160px;
  height: 48px;
  background: #305db8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
}
.facebook:hover {
  transition: ease-in-out 0.2s;
  background: #022263;
}
.facebook-icon {
  background-image: url(../img/facebook.svg);
  width: 12.46px;
  height: 24px;
  background-repeat: no-repeat;
  margin-right: 18.77px;
  margin-left: 16.77px;
}
.facebook-text {
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0;
}
.facebook-text::before {
  display: block;
  content: "";
  height: 28px;
  border-left: 1px solid #0a162f;
  padding-right: 18px;
  opacity: 10%;
}
.google {
  margin-top: 15px;
  width: 160px;
  height: 48px;
  background: #df4a32;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  margin-left: 8px;
}
.google:hover {
  transition: ease-in-out 0.2s;
  background: #ab1f09;
}
.google-icon {
  background-image: url(../img/google.svg);
  width: 30px;
  height: 19px;
  background-repeat: no-repeat;
  margin-right: 7px;
  margin-left: 12px;
}
.google-text {
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0;
}
.google-text::before {
  display: block;
  content: "";
  height: 28px;
  border-left: 1px solid #0a162f;
  padding-right: 30px;
  opacity: 10%;
}
.line {
  margin-top: 31px;
  position: relative;
  display: flex;
  justify-content: center;
}
.or {
  margin-top: 0;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  text-align: center;
  position: absolute;
  background-color: #fff;
  padding: 0 5px;
}
.line::before {
  content: "";
  display: block;
  width: 324px;
  height: 1px;
  background: #f2f2f2;
  position: absolute;
  top: 8px;
  left: 58px;
}
.form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-element {
  color: #bebebe;
  width: 324px;
  height: 45px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
input[type="text"] {
  text-indent: 20px;
  outline: none;
  color: #434343;
}
input[type="text"]:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
.text {
  margin-left: 28px;
  color: #434343;
  margin-top: 3px;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-left: 62px;
  position: relative;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}
input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
  border-radius: 2px;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 12px;
  height: 5px;
  border-radius: 1px;
  border-left: 2px solid #3cb878;
  border-bottom: 2px solid #3cb878;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.terms {
  color: #3cb878;
  text-decoration: none;
}
.terms:hover {
  text-decoration: underline;
}
.create {
  text-decoration: none;
}
.create-button {
  margin-left: 60px;
  margin-top: 22px;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.create-button:hover {
  transition: ease-in-out 0.2s;
  background: #01813f;
}
.create-text {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}
