.page-body {
  margin: 0;
  font-family: sans-serif;
  margin: 0 auto;
}
.header-container {
  width: 100%;
  max-width: 1280px;
}
.services-list-item {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}
.item-title {
  margin: 0px;
  background-color: #35444f;
  padding: 26px 0 19px;
  color: #fff;
  margin-bottom: 37px;
  border: 1px solid #fff;
  padding: 26px 19px;
}
.first {
  width: 162px;
  margin-left: -40px;
  color: #35444f;
  height: 28px;
}
.last {
  padding-right: 40px;
}
.logo {
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-top: 61px;
  padding-left: 98px;
  text-decoration: none;
  color: #000;
  margin-bottom: 38px;
}
.logo-properties {
  color: #4bcaff;
}
.services {
  margin: 0 auto;
  padding-left: 98px;
  display: flex;
  justify-content: center;
  min-width: 1280px;
  margin-bottom: 50px;
  height: 100px;
}
.services-list {
  padding-left: 0;
}
.left-menu {
  display: flex;
}
.left-menu-list {
  height: 399px;
  border: 1px solid #000;
  list-style: none;
  margin-top: 0;
  margin-left: 98px;
  padding-right: 40px;
}
.left-menu-items {
  padding: 0 12.5px 12.5px;
  padding-left: 0;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.img-section {
  padding: 75px 258px 73px 287px;
  border: 1px solid #000;
}
.first-left {
  padding-top: 26px;
}
.section-text {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-right: 99px;
  margin-left: 52px;
}
.menu-list {
  display: flex;
  list-style: none;
  margin-left: -110px;
  height: 72px;
  font-size: 24px;
  line-height: 28px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.list-item {
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #35444f;
  color: #fff;
  padding: 20px;
}
.first {
  width: 162px;
  height: 70px;
}
.last {
  width: 150px;
  height: 70px;
}
.footer {
  display: flex;
  margin-top: 54px;
  background-color: #63696e;
  margin-left: 100px;
}
.footer-menu {
  list-style: none;
  display: flex;
  height: 69px;
  align-items: center;
  color: #0c1927;
}
.footer-menu-item {
  padding-right: 1em;
  font-size: 28px;
  line-height: 28px;
}
.copyright {
  color: #010101;
  font-family: sans-serif;
  display: flex;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
}
